.bodyHeader {
    text-align: center;
    width: 99%;
    position: fixed;
    top: 0;
   /* background-color: #e4e7df; */
   background-color: #d8e5ec; 
}

.linkHeader {
    padding: 15px;
    font: 20px/1.1em  'opensans-bold', sans-serif;
    text-align: center;
    justify-content: space-between;
}
.linkHeader:hover {
    color: rgb(35, 35, 35);
  }